<!DOCTYPE html>
<html>
<head>
    <title>Interactive fiction game</title>
</head>
<body>
    <form method="POST" action="/query">
        <input name="user_query">
        <button type="submit">Run</button>
    </form>

    <button onclick="window.location.href='/reset'">Reset</button>

    <form method="POST" action="/settings_change">
        <input type="number" name="history_length" value="{{ game_settings.history_length }}">
        <input type="number" name="context_messages" value="{{ game_settings.context_messages }}">
        <input type="text" name="assistant_instruction" value="{{ game_settings.assistant_instruction }}">
        <button type="submit">Update Settings</button>
    </form>

    <div>
        <ul>
        {% for key, value in bars.items() %}
            <li><strong>{{ key }}</strong>: {{ value }}</li>
        {% endfor %}
        </ul>
    </div>

    <div>
        {% with flashed_messages = get_flashed_messages() %}
            <ul>
                {% for message in flashed_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endwith %}
    </div>
    
</body>
</html>
